.main-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tree-container {
  width: auto;
  min-width: 20%;
  border: 1px solid lightgrey
}

.coffee-container {
  margin: 0 auto;
}

.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.example-full-width {
  width: 630px;
  margin-bottom: 5px;
}

:host ::ng-deep {
  .example-full-width { // add my-custom-component-small class to your mat-form-field element
    .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0 !important;}
    .mat-form-field-label-wrapper { top: -1.5em; }

    &.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-1.1em) scale(.75);
      width: 133.33333%;
    }
  }
}

.center {
  text-align: center;
  margin-top: 20px;
}
