<mat-toolbar color="primary">
  <span>Coffee Finder</span>
</mat-toolbar>
  <div class="main-container">
    <div class="tree-container">
      <div *ngFor="let judet of localitati">
        <mat-accordion *ngIf="!judet.idParinte && !judet.adancime">
          <mat-expansion-panel >
            <mat-expansion-panel-header >
              <mat-panel-title>
                <span >{{judet.denumire}}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let oras of localitati">
              <mat-accordion *ngIf="oras.idParinte == judet.id" >
                <mat-expansion-panel >
                  <mat-expansion-panel-header >
                    <mat-panel-title>
                      <span >{{oras.denumire}}</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ol *ngFor="let cafenea of localitati">
                    <p *ngIf="cafenea.idParinte === oras.id" (click)="goToCoffe(cafenea.id)" class="clickable">{{cafenea.denumire}}</p>
                  </ol>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div class="coffee-container">
      <h1 class="center">Coffee</h1>
      <div *ngIf="showCoffeePlace">
      <form [formGroup]="form" class="center">    
        <div>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Search</mat-label>
                <input matInput formControlName="filtru">
            </mat-form-field>
        </div>
      </form>
        <div *ngFor="let coffee of coffeeData">
          <app-coffee-card [coffee]="coffee"></app-coffee-card>
        </div>
        <p *ngIf="!coffeeData.length" class="center">No data found</p>
      </div>
    </div>
  </div>

<router-outlet></router-outlet>
